body {
  background: url('/images/home-background.svg') repeat center center fixed, #0B0C11;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-logo {
  width: 65px;
}

.header-button {
  padding: 0;
  border: 0;
  height: 65px;
  width: 65px;
  background: rgba(255, 255, 255, 0.16);
  color: #FFF;
  border-radius: 50%;
  svg {
    width: 40px;
    height: 40px;
  }
}

.card {
  display: flex;
  align-items: center;
  height: 100px;
  border-radius: 24px;
  overflow: hidden;
  background: #14151A;
  color: #FFF;
  font-size: 24px;
  
  @media screen and (max-width: 450px) {
    height: 80px;
    font-size: 18px;
  }

  &--gems {
    padding-left: 8px;
  }
}

.card-content {
  padding: 16px;
}

.card-image  {
  border-radius: 24px;
  overflow: hidden;
  img {
    @media screen and (max-width: 450px) {
      width: 80px;
    }
  }
}

.card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-subtitle {
  display: flex;
  align-items: center;
  gap: 15px;
}

.verified {
  width: 20px;
  height: 20px;
}

.gems {
  color: #A4A5AA;
}

.gems-image {
  width: 25px;
}

.people-image {
  width: 25px;
}

.people-count {
  display: flex;
  align-items: center;
  gap: 6px;
}

.main-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 142px;
  margin-bottom: 142px;
  margin-left: -1em;
  margin-right: -1em;
  @media screen and (max-width: 500px) {
    margin-top: 95px;
    margin-bottom: 95px;
  }
}

.outer-circle {
  padding: 42px;
  border-radius: 50%;
  // background: rgba(18, 27, 42, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  @media screen and (max-width: 500px) {
    padding: 27px;
  }
}

.inner-circle {
  padding: 42px;
  border-radius: 50%;
  // background: #121B2A;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  @media screen and (max-width: 500px) {
    padding: 27px;
  }
}

.main-button {
  padding: 0;
  border: none;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  background: #006AE0;
  animation: pulse-animation 2s infinite;

  @media screen and (max-width: 500px) {
    width: 180px;
    height: 180px;
  }
}

.main-button-image {
  padding-top: 20px;
  width: 60%;

  @media screen and (max-width: 500px) {
    padding-top: 16px;
  }
}

.pill {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  gap: 8px;
  padding: 18px;
  border-radius: 24px;
  background: #10151B;
  color:  #FFF;
  font-size: 18px;

  &--lightning {
    color: #1B72B9;
  }
}

.claim-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 94px;
  padding: 18px;
  border: none;
  border-radius: 24px;
  background: #006AE0;
  color:  #FFF;
  margin-bottom: 16px;
  &__left {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 500;
    padding-right: 8px;
    @media screen and (max-width: 382px) {
      font-size: 18px;
    }
  }
  &__right {    
    position: relative;
    margin-left: auto;
    padding-left: 28px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 2px;
      height: 66px;
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

#countdown {
  font-size: 16px;
  @media screen and (max-width: 382px) {
    font-size: 12px;
  }
}

.footer {
  background: #0F1217;
  border-radius: 24px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 14px;
  align-items: center;
  color: #7F818D;
  font-size: 24px;
  &--active {
    color: #FFF;
  }
  @media screen and (max-width: 503px) {
    font-size: 16px;
  }
  @media screen and (max-width: 382px) {
    font-size: 12px;
  }
  img {
    width: 32px;
    @media screen and (max-width: 503px) {
      width: 21px;
    }
    @media screen and (max-width: 382px) {
      width: 16px;
    }
  }
}

.footer-item-image-wrapper {
  display: flex;
  align-items: center;
  height: 32px;
    @media screen and (max-width: 503px) {
      height: 21px;
    }
    @media screen and (max-width: 382px) {
      height: 16px;
    }
}

.footer-logo {
  display: inline-block;
  width: 85px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  img {
    width: 100%;
  }
  @media screen and (max-width: 503px) {
    width: 57px;
  }
  @media screen and (max-width: 382px) {
    width: 42px;
  }
}

.col:has(.footer-logo) {
  text-align: center;
}

.swipe-wrapper {
  display: flex;
  justify-content: center;
}

.swipe {
  width: 30%;
  height: 8px;
  background: #FFF;
  border-radius: 12px;
  margin-top: 8px;
  margin-bottom: 12px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    box-shadow: 0 0 0 84px rgba(255, 255, 255, 0);
    transform: scale(1);
    @media screen and (max-width: 500px) {
      box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
  }
}