body {
  background: url('/images/home-background.svg') repeat center center fixed, #0B0C11;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-logo {
  width: 65px;
}

.header-button {
  padding: 0;
  border: 0;
  height: 65px;
  width: 65px;
  background: rgba(255, 255, 255, 0.16);
  color: #FFF;
  border-radius: 50%;
  svg {
    width: 40px;
    height: 40px;
  }
}

.card {
  display: flex;
  height: 100px;
  border-radius: 24px;
  overflow: hidden;
  background: #14151A;
  color: #FFF;
  font-size: 24px;
  &--gems {
    padding-left: 8px;
  }
}

.card-content {
  padding: 16px;
}

.card-image  {
  border-radius: 24px;
  overflow: hidden;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-subtitle {
  display: flex;
  align-items: center;
  gap: 15px;
}

.verified {
  width: 20px;
  height: 20px;
}

.gems {
  color: #A4A5AA;
}

.gems-image {
  width: 25px;
}

.people-image {
  width: 25px;
}

.people-count {
  display: flex;
  align-items: center;
  gap: 6px;
}

.main-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 142px;
  margin-bottom: 142px;
}

.outer-circle {
  padding: 42px;
  border-radius: 50%;
  background: rgba(18, 27, 42, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  @media screen and (max-width: 500px) {
    padding: 27px;
  }
}

.inner-circle {
  padding: 42px;
  border-radius: 50%;
  background: #121B2A;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  @media screen and (max-width: 500px) {
    padding: 27px;
  }
}

.main-button {
  padding: 0;
  border: none;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  background: #006AE0;

  @media screen and (max-width: 500px) {
    width: 180px;
    height: 180px;
  }
}

.main-button-image {
  width: 60%;
}

.pill {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  gap: 8px;
  padding: 18px;
  border-radius: 24px;
  background: #10151B;
  color:  #FFF;
  font-size: 18px;

  &--lightning {
    color: #1B72B9;
  }
}

.claim-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 94px;
  padding: 18px;
  border: none;
  border-radius: 24px;
  background: #006AE0;
  color:  #FFF;
  font-size: 18px;
  &__left {
    flex-grow: 1;
    font-size: 24px;
  }
  &__right {    
    position: relative;
    margin-left: auto;
    padding-left: 28px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    &::after {
      content: '';
      position: absolute;
      top: -19px;
      left: 0;
      width: 2px;
      height: 66px;
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

#countdown {
  font-size: 16px;
}